<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cart - Checkout | Majestic Thai Bistro</title>
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="bower_components/Hover/css/hover-min.css" media="all">
</head>
<body>
  <header>
    <p class="shadow40 heading">Majestic Thai Bistro</p>
    <p class="shadow40 sub-heading">An Authetic Taste of Thailand</p>
  </header>

  <div id="app-container">

    <div class="wrapper w-zero">
      <ul class="main-nav">
        <li class="main-btns btn-1 hvr-back-pulse"><a href="index.html">Home</a></li>
        <li class="main-btns btn-2 hvr-back-pulse"><a href="index.html">Menu</a></li>
        <li class="main-btns btn-3 hvr-back-pulse"><a href="admin.html">Admin Panel</a></li>
        <li class="main-btns btn-4 hvr-back-pulse"><a href="checkout.html">Submit Order</a></li>
      </ul>
    </div> <!-- cloing 'w-zero' -->

  <div class="create-user"></div>
    <script type="text/template" data-template-name="user">
      <form class="person-form">
        <h1>Section B: Create An Account!</h1>
        <hr />
        <input class="first-name" type="text" placeholder="First Name">
        <hr />
        <input class="last-name" type="text" placeholder="Last Name">
        <hr />
        <input class="address" type="text" placeholder="Address">
        <hr />
        <input class="phone" type="text" placeholder="Phone Number">
        <hr />
        <input class="username" type="text" placeholder="Create Username">
        <hr />
        <input class="password" type="text" placeholder="Create Password">
        <hr />
        <input class="email-address" type="text" placeholder="Example@Email.com">
        <hr />
        <button class="save-user">Save User</button>
    </script>


    <div class="app-wrapper">

      <div class="checkout-wrapper">
        <div class="checkout"></div>
        <script type="text/template" data-template-name="checkout-li">
          <ul>
            <li class="cart-item-title"><%= cart_item_title %></li><hr />
            <li class="cart-item-price"><%= cart_item_price %></li><hr />
            <li class="cart-price-total"><%= cart_price_total %></li><hr />
            <li><button class="edit-cart go-to-editCart-template">Edit Order</button></li>
            <li><button class="submit-order">Submit Order</button></li>
          </ul>
        </script>
      </div> <!-- cloing 'checkout-wrapper' -->

    </div> <!-- cloing 'app-wrapper' -->

  </div> <!-- cloing 'app-container' -->

  <footer>
    <div class="footer-left">
      <ul class="list-left">
        <li class="site-map-items"><a href="one1">One1</a></li>
        <li class="site-map-items"><a href="one2">Two2</a></li>
        <li class="site-map-items"><a href="one3">Three3</a></li>
      </ul>
    </div> <!-- 'footer-left' -->

    <div class="footer-right">
      <ul class="list-right">
        <li class="nav-foot"><a href="two1">Nav 1</a></li>
        <li class="nav-foot"><a href="two2">Nav 2</a></li>
        <li class="nav-foot"><a href="two3">Nav 3</a></li>
      </ul>
    </div> <!-- 'footer-right' -->
  </footer>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <script type="text/javascript" src="scripts/user.js"></script>

</body>
</html>
