<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu | Majestic Thai Bistro</title>
  <link rel="stylesheet" href="bower_components/Hover/css/hover-min.css" media="all">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Julee" type="text/css">
</head>
<body>
  <header>
    <p class="shadow40 heading">Majestic Thai Bistro</p>
    <p class="shadow40 sub-heading">An Authentic Taste of Thailand</p>
  </header>

  <div id="app-container">
    <div class="wrapper w-zero">
      <ul class="main-nav">
        <li class="main-btns btn-1 hvr-back-pulse"><a href="index.html">Home</a></li>
        <li class="main-btns btn-2 hvr-back-pulse"><a href="menu.html">Menu</a></li>
        <li class="main-btns btn-3 hvr-back-pulse"><a href="admin.html">Admin Panel</a></li>
        <li class="main-btns btn-4 hvr-back-pulse"><a href="checkout.html">Cart / Checkout</a></li>
      </ul>
    </div> <!-- cloing 'w-zero' -->

    <div class="app-wrapper">
        <div class="menu">
          <h1 class="menu-header">Majestic Thai</h1>
          <ul class="menu-nav">
            <li class="food menu-selection">Selection</li>
            <li class="food menu-price">Price</li>
            <li class="food menu-add">Add To Cart</li>
          </ul>
          <script type="text/template" data-template-name="post-li">
            <ul class=".js-items">
              <li class="item-title hvr-reveal hvr-grow-rotate post-li"><%= item_title %></li>
              <li class="item-description hvr-rectangle-out post-li"><%= item_description %></li>
              <li class="item-type post-li"><%= item_type %></li>
              <li class="item-price hvr-underline-from-center post-li"><%= item_price %></li>
              <li id="add-btn" class="item-button hvr-rectangle-out post-li"><a class="add" href="checkout.html"><button>Add</button></li>
                <hr />
            </ul>
          </script>
      </div> <!-- cloing 'menu' -->
    </div> <!-- cloing 'app-wrapper' -->
  </div> <!-- cloing 'app-container' -->

  <div class="cart-wrapper">
    <div class="cart"></div>
    <script type="text/template" data-template-name="cart-li">
      <ul class="cart-list">
        <li class="cart-item-title"><%= cart_item_title %></li><hr />
        <li class="cart-item-price"><%= cart_item_price %></li><hr />
        <li class="cart-price-total"><%= cart_price_total %></li><hr />
        <li><a class="submit go-to-checkout" href="checkout.html">Place Order and Checkout</a></li>
      </ul>
        <hr />
        <p>** Total price before taxes **</p>
    </script>
  </div>

  <footer>
    <div class="footer-left">
      <ul class="list-left">
        <li class="site-map-items"><a href="index.html">Home</a></li>
        <li class="site-map-items"><a href="menu.html">Menu</a></li>
        <li class="site-map-items"><a href="admin.html">Admin</a></li>
        <li class="site-map-items"><a href="checkout.html">Cart</a></li>
      </ul>
    </div>
    <p class="copy">&copy; 2015 Majestic Thai Bistro</p>

    <div class="footer-right">
      <ul class="quick">
        <li class="quick-ref">Majestic Thai Bistro</li>
        <li class="quick-ref">129 West Main Street</li>
        <li class="quick-ref">Greenville, SC, 29601</li>
        <li class="quick-ref">(864) 630 - 9266</li>
        <li class="quick-ref">Hours: Mon.-Sat. 11am-11pm</li>
      </ul>
    </div>
  </footer>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <script type="text/javascript" src="scripts/main.js"></script>


</body>
</html>
