html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  min-width: 1100px;
  min-height: 100px; }

header {
  background-image: url("../img/statues.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 350px; }

.shadow40 {
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  color: #fff;
  font-size: 80px;
  font-weight: 800; }

.sub-heading {
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  color: #fff;
  font-size: 45px;
  font-weight: 800; }

.info-container {
  background-color: #000;
  height: 350px;
  color: #fff; }

.menu-hyperlink {
  color: red; }

.info-left {
  background-image: url("../img/restaurant.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  width: 450px;
  height: 250px;
  margin: 50px 50px;
  float: left;
  padding-left: 100px;
  padding-top: 150px; }

.info-right {
  display: inline-block;
  width: 650px;
  margin: 0 auto;
  float: right;
  padding-right: 100px; }
  .info-right p {
    margin-top: 30px;
    line-height: 1.2; }

.fill-wrapper {
  margin-top: 20px;
  background-color: #fff;
  height: 300px; }
  .fill-wrapper .filler-pics {
    list-style: none;
    margin-left: 25px; }
  .fill-wrapper .fill-pics {
    display: inline-block;
    margin: 0 auto;
    height: 200px;
    width: 235px;
    padding-left: 20px; }

.p {
  margin: 0; }

.p1 {
  background-image: url("../img/pad-kee-mao.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 300px; }

.p2 {
  background-image: url("../img/red-curry.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 300px; }

.p3 {
  background-image: url("../img/padthai.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 300px; }

.p4 {
  background-image: url("../img/pad-prik.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 300px; }

.p5 {
  background-image: url("../img/satay.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 300px; }

.w-zero {
  background-color: #D42B1F;
  min-width: 1100px;
  height: 90px; }
  .w-zero .main-nav {
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 0;
    list-style: none;
    text-align: center; }
  .w-zero li {
    display: inline-block;
    margin: 0 auto; }

.app-wrapper {
  background-color: #7298c0;
  min-height: 1000px; }

.main-btns {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #000;
  background-color: #D4AE35;
  padding: 10px 100px;
  text-decoration: none;
  color: #000;
  font-weight: 800; }
  .main-btns a {
    color: #000; }

footer {
  margin-top: 20px;
  background-color: #D42B1F;
  height: 150px; }
  footer ul {
    margin: 0;
    list-style: none; }

.footer-left {
  display: inline-block;
  float: left;
  margin: 0;
  list-style: none; }
  .footer-left a {
    text-decoration: none; }

.site-map-items {
  display: inline-block;
  cursor: pointer;
  margin-top: 75px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #D4AE35;
  border: 2px solid #000; }
  .site-map-items a {
    color: #000; }

.footer-right {
  display: inline-block;
  float: right;
  margin: 0;
  list-style: none; }
  .footer-right a {
    text-decoration: none;
    color: #000; }

.nav-foot {
  display: inline-block;
  cursor: pointer;
  padding-top: 75px;
  padding-right: 50px; }

.menu {
  margin: 0 auto;
  background-color: #21455f;
  padding-top: 40px;
  color: #f6f6f6; }

.post-li {
  display: inline-block;
  border: 2px solid yellow;
  background-color: #ff5f33;
  padding: 5px 10px;
  text-decoration: none;
  line-height: 2;
  color: #000;
  font-family: 'Julee', cursive;
  font-size: 15px;
  font-weight: 800; }

.js-items {
  list-style: none; }

.add {
  background-color: #fd6034;
  text-decoration: none; }

#add-btn {
  float: right;
  margin-right: 30px;
  background-color: #fd6034; }

.item-title {
  text-decoration: underline; }

.item-type {
  background-color: #b5bbc9; }

.menu-header {
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center; }

.food {
  display: inline-block;
  padding-bottom: 20px;
  text-decoration: underline; }

.menu-price {
  padding-left: 35%; }

.menu-add {
  padding-left: 93%; }

ul {
  margin: 0 auto;
  list-style: none; }

.admin-left {
  display: inline-block;
  height: 300px;
  width: 520px; }
  .admin-left a {
    margin: 0 auto;
    padding-top: 10px; }
    .admin-left a img {
      height: 318px; }

.admin-form {
  margin: 10px 20px 80px 20px;
  display: inline-block;
  background-color: #D42B1F;
  padding: 0 200px 20px;
  border: 1px solid #000; }
  .admin-form .edit-menu {
    list-style: none; }
  .admin-form .edit-menu-items {
    line-height: 2;
    padding-top: 5px;
    text-align: center; }

hr {
  margin: 2px; }

.input-title,
.input-des,
.input-type,
.input-price {
  border-bottom: 2px solid #000;
  border-left: 2px solid #000; }

.update-menu-item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 32px;
  cursor: pointer; }

.admin-head {
  text-decoration: underline;
  padding-left: 40px;
  margin: 4px auto; }

.hidden {
  display: none; }

.copy {
  margin: 0 auto;
  padding-top: 115px;
  display: inline-block;
  font-size: 12px; }

.footer-right {
  display: inline-block; }

.quick {
  list-style: none;
  padding-top: 30px;
  padding-right: 150px; }

.quick-ref {
  line-height: 1.2;
  top: 0;
  font-size: 12px;
  color: #fff; }

.app-wrapper-cart {
  height: 450px;
  background-color: #6F6D75;
  color: #000;
  font-weight: 900; }

.static-cart {
  margin: 10px auto;
  height: 350px; }

.view-and-edit-cart {
  margin: 0 auto; }

.cart-head {
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-decoration: underline; }

.cart-list {
  list-style-type: thai;
  padding-left: 250px;
  padding-right: 250px;
  line-height: 3; }

.cart-items {
  margin-left: 75px; }

.place-order-cart-button {
  margin: 0 auto;
  float: right;
  margin-top: 15px; }

.edit-quant {
  width: 80px;
  margin-left: 100px; }

.edit-item-ordered {
  margin-left: 50px; }

.subtotal-before-taxes,
.total-order-cost {
  text-align: right; }

/*# sourceMappingURL=main.css.map */
