@import 'bourbon/bourbon';
$visual-grid: false;
$gutter: em(47px);
@import 'neat/neat';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 1100px;
  min-height: 100px;
}

header {
  background-image: url('../img/statues.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 350px;
}

.shadow40 {
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  color: #fff;
  font-size: 80px;
  font-weight: 800;
}

.sub-heading {
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  color: #fff;
  font-size: 45px;
  font-weight: 800;
}

.info-container {
  height: 350px;
}

.info-left {
  background-image: url('../img/restaurant.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  width: 450px;
  height: 250px;
  margin: 50px 50px;
  float: left;
  padding-left: 100px;
  padding-top: 150px;
}

.info-right {
  display: inline-block;
  width: 650px;
  margin: 0 auto;
  float: right;
  padding-right: 100px;

  p {
    margin-top: 30px;
    line-height: 1.2;
  }
}

.fill-wrapper {
  background-color: #B5BBC9;
  height: 300px;

  .filler-pics {
    list-style: none;
  }

  .fill-pics {
    display: inline-block;
    height: 250px;
    width: 250px;
  }
}

.p {
  margin: 0;
}

.p1 {
  background-image: url('../img/pad-kee-mao.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.p2 {
  background-image: url('../img/red-curry.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.p3 {
  background-image: url('../img/padthai.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.p4 {
  background-image: url('../img/pad-prik.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.p5 {
  background-image: url('../img/satay.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.w-zero {
  background-color: #1d1f21;
  min-width: 1100px;
  height: 90px;

  .main-nav {
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 0;
    list-style: none;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 auto;
  }
}

.app-wrapper {
  background-color: #7298c0;
  min-height: 1000px;
}

.main-btns {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid yellow;
  background-color: #ff5f33;
  padding: 10px 100px;
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

footer {
  background-color: #a49f9d;
  height: 150px;

  ul {
    margin: 0;
    list-style: none;
  }
}

.footer-left {
  display: inline-block;
  float: left;
  margin: 0;
  list-style: none;

  a {
    text-decoration: none;
  }
}

.site-map-items {
  display: inline-block;
  cursor: pointer;
  padding-top: 75px;
  padding-left: 50px;
}

.footer-right {
  display: inline-block;
  float: right;
  margin: 0;
  list-style: none;

  a {
    text-decoration: none;
  }
}

.nav-foot {
  display: inline-block;
  cursor: pointer;
  padding-top: 75px;
  padding-right: 50px;
}

.menu {
  margin: 0 auto;
  background-color: #21455f;
  padding-top: 40px;
  color: #f6f6f6;
}

.post-li {
  display: inline-block;
  border: 2px solid yellow;
  background-color: #ff5f33;
  padding: 5px 10px;
  text-decoration: none;
  line-height: 2;
  color: #000;
  font-family: 'Julee', cursive;
  font-size: 15px;
  font-weight: 800;
}

.js-items {
  list-style: none;
}

.add {
  background-color: #fd6034;
  text-decoration: none;
}

#add-btn {
  float: right;
  margin-right: 30px;
  background-color: #fd6034;
}

.item-title {
  text-decoration: underline;
}

.item-type {
  background-color: #b5bbc9;
}

.menu-header {
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

.food {
  display: inline-block;
  padding-bottom: 20px;
  text-decoration: underline;
}

.menu-price {
  padding-left: 35%;
}

.menu-add {
  padding-left: 93%;
}

ul {
  margin: 0 auto;
  list-style: none;
}

.admin-left {
  display: inline-block;
  height: 300px;

  a {
    margin: 0 auto;
    padding-top: 40px;
  }
}

.admin-form {
  margin: 30px 50px;
  display: inline-block;
  background-color: #F1A628;
  padding: 0 300px;
  border: 1px solid #000;

  .edit-menu {
    list-style: none;
  }

  .edit-menu-items {
    line-height: 2;
    border: 1px solid #000;
    padding-top: 5px;
  }
}
h3 {
  padding-left: 40px;
 }
